
.shoppinglistItem{
    background-color: rgb(181, 182, 192);
    /* border:1px solid black; */
}


/* .shoppinglistItem2{
    background-color: rgb(220,220,220);
    border:none;
} */

.crossedOut{
    text-decoration:line-through;
    background-color: transparent;
}

.list{
    background-color:rgba(128, 128, 128, 0.3)
}