
.shoppinglistItem{
    background-color: rgb(200,200,0);
    border:none;
}


.shoppinglistItem2{
    background-color: rgb(220,220,220);
    border:none;
}

.crossedOut{
    text-decoration:line-through;
    background-color: transparent;
}